.generator {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  min-height: 86.7vh;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  background-color: rgba(59, 36, 68, 0.89);
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bold;
}

.number-input {
  width: 2.5rem;
  justify-items: center;
  margin-left: 1rem;
  align-content: center;
}

.password-display {
  background-color: white;
  color: black;
  padding: 2rem;
  border: 1px solid #333;
  height: 2rem;
  width: 45%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.elements-main {
  display: inline;
  align-items: center;
  justify-content: center;
}

.submit-button {
  font-weight: bold;
}

.range {
  margin-left: 1rem;
}

.passwordMeter {
  margin-left: 3rem;
  min-height: fit-content;
  width: 300px;
}

@media (max-width: 480px) {
  .passwordMeter {
    width: 70%;
  }
  .password-display {
    line-height: 80%;
    font-size: medium;
    margin-bottom: 1rem;
  }
  .range {
    display: none;
  }
  .elements {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .elements-main {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
